nav {
  height: 50px;
  background-color: #f1f3ff;
}

.navbar-container {
  padding-top: 50px;
  padding-bottom: 24px;
}

.logo-binar-rental-car {
  background-color: #0d28a6;
  width: 100px;
  height: 34px;
  margin-left: 60px;
}

.nav-link {
  font-size: 14px;
  color: #000000;
  line-height: 20px;
}

.register-btn {
  line-height: 20px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  color: #ffffff;
  background-color: #5cb85f;
  border-radius: 2px;
  width: 81px;
  height: 36px;
  padding: 8px 12px;
  margin-right: 0px;
}

.offcanvas-body {
  margin-right: 60px;
}

@media only screen and (max-width: 991px) {
  .navbar-container {
    padding-top: 10px;
  }

  .logo-binar-rental-car {
    margin-left: 0px;
  }

  .offcanvas-body {
    margin-right: 0px;
  }
}
